In [25]:
import pandas as pd

In [26]:
df = pd.read_csv('balance.txt',sep=' ')
df.head()

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
0,12.240798,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian
1,23.283334,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
3,27.652811,148.924,9504,681,3,36,11,Female,No,No,Asian
4,16.893978,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian

Write the code needed to produce a report that provides the following information:
* Compare the average income based on ethnicity.
* On average, do married or single people have a higher balance?
* What is the highest income in our dataset?
* What is the lowest income in our dataset?
* How many cards do we have recorded in our dataset? (Hint: use `sum()`)
* How many females do we have information for vs how many males? (Hint: use `count()` for a list of all methods for computation of descriptive stats, explore the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats)).

In [27]:
average_income_eth = df.groupby('Ethnicity')['Income'].mean()
average_income_eth

Ethnicity
African American    47.682101
Asian               44.187833
Caucasian           44.521945
Name: Income, dtype: float64

In [28]:
higher_balance = df.groupby('Married')['Balance'].mean()

higher_balance
#No is 13.49 which is > than Yes which is 13.38 therefore single people on average have a higher balance.

Married
No     13.493509
Yes    13.388473
Name: Balance, dtype: float64

In [30]:
highest_row_income = df.sort_values('Income', ascending=False).iloc[0]
highest_row_income
#could use the max function but this way is better for series representation. Answer is 186.634

Balance             35.271011
Income                186.634
Limit                   13414
Rating                    949
Cards                       2
Age                        41
Education                  14
Gender                 Female
Student                    No
Married                   Yes
Ethnicity    African American
Name: 28, dtype: object

In [31]:
lowest_row_income = df.sort_values('Income', ascending=True).iloc[0]
lowest_row_income
#could use min like the previous question. Answer is 10.354. Default for ascending is True anyway but added it in for visual clarity

Balance       9.180797
Income          10.354
Limit             3480
Rating             281
Cards                2
Age                 70
Education           17
Gender            Male
Student             No
Married            Yes
Ethnicity    Caucasian
Name: 58, dtype: object

In [32]:
total_cards = df['Cards'].sum()
total_cards
#answer is 1183

1183

In [38]:
num_females = df[df['Gender']=='Female'].Gender.count() 
num_males = df[df['Gender']=='Male'].Gender.count()
print(f"number of females {num_females}")
print(f"number of females {num_males}")

number of females 207
number of females 193